html {
    font-family: sans-serif !important;
    font-weight: 700 !important;
}
ul {
    list-style-type: none;
}

.done-task {
    text-decoration-line: line-through;
}

.form-check-label.task-label {
    width: 60%;
}

.cancel-btn {
    margin-left: auto;
    background-color: white;
    border: none;
    color: red;
}

.add-btn {
    margin-top: 0.5rem;
    background-color: cornflowerblue;
    border: none;
    border-radius: 0.2rem;
    color: white;
    padding: 0.5rem 1rem;
}
